<header class="header">
    <!-- Блок действий справа: Акты + Настройки -->
    <div class="header-actions-left">
        {% include 'header/header_help_button.html' %}
        {% include 'header/header_save_indicator.html' %}
    </div>

    {% include 'header/header_steps.html' %}

    <!-- Блок действий справа: Акты + Настройки -->
    <div class="header-actions-right">
        {% include 'header/header_acts_menu.html' %}
        {% include 'header/header_settings_menu.html' %}
    </div>
</header>

{% include 'header/help_modal.html' %}
