/*
 * Основной контейнер приложения
 * Определяет область контента под шапкой
 */

.container {
    max-width: 95vw;
    width: 95vw;
    margin: 0 auto 1.25vh;
    background: var(--bg-primary);
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-xl);
    overflow: hidden;
    height: calc(100vh - var(--icon-size-xs) - 1.25vh);
    min-height: calc(100vh - var(--icon-size-xs) - 1.25vh);
    display: flex;
    flex-direction: column;
}

/* Внутренняя область контента */
.content {
    padding: var(--spacing-xl);
    height: var(--content-height);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

/* Область контента текущего шага */
.step-content {
    padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-lg) var(--spacing-lg);
    padding-top: var(--spacing-12xl);
    height: 100%;
    display: flex;
    flex: 1;
    overflow: auto;
    min-height: 0;
    flex-direction: column;
    gap: var(--spacing-md);
}
