<header class="header">
    <!-- Блок действий слева -->
    <div class="header-actions-left">
        {% include 'constructor/header/header_help_button.html' %}
        {% include 'constructor/header/header_save_indicator.html' %}
    </div>

    {% include 'constructor/header/header_steps.html' %}

    <!-- Блок действий справа: Предпросмотр + Акты + Настройки + Выход -->
    <div class="header-actions-right">
        {% include 'constructor/header/header_preview_button.html' %}
        {% include 'constructor/header/header_acts_menu.html' %}
        {% include 'constructor/header/header_settings_menu.html' %}
        {% include 'constructor/header/header_exit_button.html' %}
    </div>
</header>

{% include 'constructor/header/help_modal.html' %}
